<head></head>
<body class="about-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well about-content-well">
          <h1 class="about-header text-center">About This Website</h1>
          <br>
          <p class="text-center">
            As a soon-to-be graduating student in Ryerson University's Medical Physics
            program, I have learned that my work will never reach its fully optimized 
            potential without the utilization of effective programming. By creating an interface
            for people to interact with the projects I work on, I can establish a 
            connection, ideally a purpose, for the blood, sweat, and tears that I
            invest in these side projects. 
          </p>
          <p class="text-center">
            I want emphasize that this is a hobby project of mine and I have no
            formal training in web development, but have become increasingly attracted
            to the idea of the work I do having a meaningful and immediate impact. 
            As noble as the field of scientific research is and always will be, I have 
            always been a results-driven person, and web development seems like a
            suitable vehicle for combining my analytical nature and insatiable desire
            to create something useful.
          </p>
          <p class="text-center">
            Over my most recent Winter break, 
            I built this website from scratch using a combination of Ruby
            on Rails, HTML, CSS, Javascript and several online tutorials.
            Although it is simple, I plan on expanding functionality with an emphasis
            on solid back-end development. 
          </p>
          <br/>
          <p>
            In short, a list of features built out in this website:
          </p>
          <ul>
            <li>Emailing</li>
            <li>Ecommerce</li>
            <li>Login/Logout system</li>
            <li>User registration</li>
            <li>Contact forms</li>
            <li>Database manipulation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>