<div class="container text-center">
    <h1>About this website</h1>
    <br>
    <p>
        I am a student. I want to be a functioning adult. Want to hire me?
        I want you to hire me. This website is to show you what I got.
    </p>
    <p>
        I built this website from the ground up using a combination of Ruby
        on Rails, HTML and CSS over a few weeks. 
    </p>
</div>