<!DOCTYPE html>
<head>
</head>
<body class="container-fluid home-body">
  <div class="home-callout text-center container-fluid">
    <h1>This is my body of work</h1>
    <h3>an experimental display of my technical portfolio</h3>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div class="home-image-border">
          <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/11029639_10153413998808778_5106217507307119159_o.jpg?oh=7c2363031feab1775a2f7f502d853808&oe=591BC2D0" class="home-image"/>
          <div class="linkedin-link text-center">
            <%= button_to 'LinkedIn', 'https://www.linkedin.com/in/michael-neilson', class: 'btn btn-warning', form: {target: '_blank'} %>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="well about-content-well">
          <p>
            Hello! My name is Michael Neilson. I'm currently three months away
            from transitioning from being a full-time student to being a full-time
            self-sufficient adult (as of January 2017) and I wanted to be able to
            have something tangible to show for the years of hard work I've put in
            towards earning my degree.
          </p>
          <p>
            After nearly four years, I will be graduating from
            Ryerson University's Medical Physics undergraduate program this 
            coming Spring. As well as completing required course work, I have 
            regularly held executive positions within Ryerson's Faculty of 
            Science student body to help grow as a person while continuing
            to give back to the community that helped to develop me. I hold a very
            high standard for myself in terms of personal advancement, and I have
            always felt like I didn't have much to show for my continuing to diversify
            my technical skillset. Ergo, website.
          </p>
          <p>
            The plan is to use this website as a hub for all of my passion projects,
            permitting that I can squeeze them all in here under one platform. Currently,
            the main framework revolves around a foundation of Rob Dey's Ruby-on-Rails
            foundational tutorials. Using this as a guideline in conjunction with
            some preexisting database architecture knowledge, I was able to create the
            RyeMatch App. The next step for me is Tableau, an analytical visualization
            tool that I've been ogling for months. 
          </p>
          <p>
            I'm open to any and all criticism, and any guidance (or encouragement)
            won't go unnoticed. Thanks for reading, I hope you enjoy my work!
          </p>
        </div>
      </div>
    </div>
  </div>
</body>