<!DOCTYPE html>
<head>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 next-header">
        <h1 class="text-center">What's Next?</h1>
      </div>
    </div>
  </div>
</head>
<body class="next-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well about-content-well">
          <p>
            For starters I'd like give RyeMatch more functionality. If I were to put
            it in a list:
          </p>
          <ul>
            <li>Add photo albums to user profiles</li>
            <li>Create a search bar/filter option</li>
            <li>
              Add more user parameters to create a facilitated matching process
              (kind of like a dating app, I suppose)
            </li>
            <li>
              Give users the option to add other social platform links to their profiles
            </li>
          </ul>
          <p>
            But I think my next major step will be to integrate a Tableau application.
            After using other Tableau applications that utilize enormous, complex
            datasets to create in-depth analyses, I really think it's something I'll 
            be getting in to very soon.
          </p>
          <p>
            In the meantime, I'll be working on including an album of screenshots
            and diagrams to include on the RyeMatch page that elaborate on how 
            the app works without requiring user authentication.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>